body {
    background-color: #EAE7DC;
    color: #E85A4F;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 100px;
    padding: 0px 200px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-color: 66FCF1;
}

.button-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #E85A4F;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid #E85A4F;
}

th {
    background-color: #E98074;
    color: #EAE7DC;
}

th:nth-child(1), td:nth-child(1), th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3) th:nth-child(4), td:nth-child(4){
    width: 25%; /* Adjust the width as needed */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #E85A4F;
    background-color: #EAE7DC;
    border: 2px solid #E85A4F;
    border-radius: 5px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.fa {
    color: #E85A4F;
}

.button:hover {
    background-color: #D8C3A5;
    color: #E98074;
}

.player-select {
    background-color: #D8C3A5;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.two-columns {
    display: flex;
    border: 0;
    border-radius: 5px;
}

.column {
    flex: 1;
    margin: 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 10px;
}