{% extends "./index.html" %}

{% block title %}<h1>Add Games</h1>{% endblock %}

{% block maincontent %}
<form method="post" action="{% url 'add_games' %}" >
    {% csrf_token %}
    <input type="radio" name="winner" value="player_1"> <!-- Radio button for Player 1 -->
    {{ form.player_1 }}
    {{ form.player_2 }}
    <input type="radio" name="winner" value="player_2"> <!-- Radio button for Player 2 -->
    <br>
    <input type="submit" value="Add Game" class="button">
    {{ form.errors }}
</form>

<h2>Recently Added Games</h2>
{% for game in last_ten_games %}
    {{ game }}
    <br>
{% endfor %}
{% endblock %}

