{% extends "./index.html" %}

{% block title %}<h1>Players</h1>{% endblock %}

{% block maincontent %}
<div class="two-columns">
    <!-- Left Column: Existing Players List -->
    <div class="column">
        <h2>All Players</h2>
        <ul id="players-list">
            <!-- Populate with existing players -->
            {% for player in players %}
            <li>{{ player }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- Right Column: Form to Add New Players -->
    <div class="column">
        <h2>Add New Player</h2>
        <form action="{% url 'add_players' %}" id="add-player-form" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" value="Add Player">
        </form>
    </div>
</div>
{% endblock %}