<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NOC Pool League</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'pool/css/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>NOC Pool League</h1>
            <div class="button-links">
                <a href="{% url 'leaguetable' %}" class="button">League Table</a>
                <a href="{% url 'games' %}" class="button">All Games</a>
            </div>
        </div>
    </body>
</html>