{% extends "./index.html" %}

{% block userelements %}
<button class="button" id="prev-month"><</button>
<button class="button" id="next-month">></button>
{% endblock %}

{% block title %}
<h1>{{ month_str }} League Table</h1>
{% endblock %}

{% block maincontent %}
<table id="league-table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Win Rate (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players_stats %}
        <tr>
            <td>{{ player.0 }}</td>
            <td>{{ player.1 }}</td> <!-- Number of games played -->
            <td>{{ player.2 }}</td> <!-- Number of wins -->
            <td>{{ player.3 }}</td> <!-- Win rate  -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}